<main id="main" class="main">

    <div class="pagetitle">
        <h1>Editer Catégorie</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active">Catégorie</li>
                <li class="breadcrumb-item active">Editer</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Catégorie des plats</h5>

                            <!-- General Form Elements -->
                            <form [formGroup]="dataForm">
                                <!-- <form> -->
                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Nom</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="name">
                                    </div>
                                </div>

                                <!-- <div class="row mb-3">
                                    <label for="inputNumber" class="col-sm-2 col-form-label" name="photo">Photo</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="file"
                                            [ngClass]="{ 'is-invalid': submitted && f['photo'].errors }" required
                                            (change)="uploadImage($event)" name="photo" formControlName="photo">
                                        <span *ngIf="submitted && f['photo'].errors" class="text-danger">{{
                                            errors.photo }}</span>
                                    </div>
                                </div> -->

                                <div class="row mb-3">
                                    <label for="inputText" class="col-sm-2 col-form-label">Visible</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" class="form-check-input" id="is_visible"
                                            formControlName="is_visible">
                                        <span *ngIf="errors.name" class="text-danger">{{ errors.name }}</span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10 submit-buttons">
                                        <button class="btn btn-primary" (click)="onUpdate()">Editer</button>
                                        <button class="btn btn-warning" (click)="goBack()">Annuler</button>
                                    </div>
                                </div>

                            </form><!-- End General Form Elements -->

                        </div>
                    </div>


                </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">
            </div><!-- End Right side columns -->

        </div>
    </section>

</main><!-- End #main -->